%h1 ishalfbyte.at

%a(href='/mindmatters') Is he at mindmatters?

%form.form-search(action='/' method='get')
  %input.input-medium.search-query(type='text' name='venue' value='' placeholder='Where could he be?')
  %button.btn(type='submit') Find
