%h1 ishalfbyte.at

%a(href='/mindmatters') Is he at mindmatters?

%form(action='/' method='get')
  %input(type='text' name='venue' value='' placeholder='Where could he be?')
  %input(type='submit' value='Find')
