.hero-unit
  %h1
    is halfbyte at
    %form.form-search(action='/' method='get')
      %input.input-medium.search-query(type='text' name='venue' value='mindmatters' placeholder='')
      %button.btn(type='submit') ?
