.hero-unit
  %h1 O hai halfbyte!
  %p Why can’t we be friends?

  %ol
    %li
      %a(href='https://foursquare.com/user/24449996') Let's get friends!
    %li
      %a(href='https://foursquare.com/v/mindmatters/4b0fe0f0f964a520c36523e3') Check in on foursquare!
    %li
      %a(href='/mindmatters') Look what you've done!
